@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-16 00:10:26
 * @version $Id$
 */

 .box {
 	display: inline-block;
 	background: red;
 	width: 100px;
 	height: 100px;
 	float: left;
 	margin: 20px;
 	color: white;
 }

#one {
	position: relative;
	width: 500px;
}

#two {
	position: absolute;
	top: 20px;
	left: 20px;
}