@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-19 16:09:36
 * @version $Id$
 */
* {
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	background: #eee;
	min-width: 780px;
}
.header, .footer{
	height: 80px;
	margin: ;
	background: #444;
}
.header .logo, .header .logo img {
	width: 160px;
	height: 80px;
}
.header .logo {
	display: block;
	float: left;
	margin-left: 40px;
}
.header .nav {
	float: right;
	list-style: none;
	height: 80px;
	line-height: 80px;
}
.header .nav li {
	float: left;
	margin-right: 20px;
}
.header .nav a{
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}
.header .nav a:hover {
	color: #ccc;
}
.main {
	background: #eee;
	padding: 20px;
	overflow: hidden;
}
.left {
	float: left;
	background: #eee;
	margin-right: 406px;
}
.chapter01, .chapter02, .photos, .chapter03, .side01{
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #999;
	border-width: 1px 3px 3px 1px;
}
.chapter01 h2, .chapter02 h2, .chapter03 h2, .photos h2, .chapter01 h3, .chapter02 h3, .chapter03 h3 {
	height: 50px;
	line-height: 50px;
	font-family: '微软雅黑';
}
.chapter01 h3, .chapter02 h3, .chapter03 h3, .chapter01 .author, .chapter02 .author, .chapter03 .author {
	color: #666;
}
.chapter01 .author, .chapter02 .author, .chapter03 .author {
	height: 40px;
	line-height: 40px;
	font-family: '微软雅黑';
}
.chapter01 .p01, .chapter02 .p01, .chapter03 .p01 {
	text-indent: 2em;
}
.chapter02 ul {
	list-style: none;
}
.photos {
	overflow: hidden;
}
.photos a {
	display: block;
	background: #ddd;
	float: left;
	padding: 10px;
	margin: 20px 20px 0 0;
}
.photos span {
	display: block;
	width: 80px;
	text-align: center;
	font-size: 12px;
	margin-bottom: 8px;
}
.photos img {
	width: 80px;
	height: 80px;
}
.chapter03 {
	margin-bottom: 0;
}
.chapter03 ol {
	margin-left: 53px;
}
.chapter03 li, .chapter03 span.state {
	height: 30px;
	line-height: 30px;
	font-family: '微软雅黑';
}
.table01 {
	width: 100%;
	text-align: center;
	font-family: '微软雅黑';
	border-collapse: collapse;
}
.table01 thead {
	background: #444;
	color: #fff;
}
.table01 td {
	border: 1px solid #999;
}
.table01 tfoot {
	background: #ccc;
}
.right {
	width: 386px;
	float: left;
	margin-left: -386px;
	margin-bottom: 0;
}
.side01 span.title, span.title i, span.title h2 {
	height: 40px;
	line-height: 40px;
}
.side01 span.title {
	display: inline-block;
	font-family: '微软雅黑';
}
.side01 span.title i {
	float: left;
	display: inline-block;
	background: #ccc;
	padding: 0 2px;
}
.side01 h2{
	float: left;
	margin-left: 10px;
	font-size: 16px;
}
.table02 {
	font-family: '微软雅黑';
	font-size: 12px;
}
.table02 td {
	padding: 4px;
}
.table02 .alignr {
	text-align: right;
}
.table02 .fTips {
	color: #979797;
}
.table02 .describe {
	display: block;
}
.table02 textarea {
	width: 200px;
	height: 100px;
}
.side01 .submit {
	background: #2E69FF;
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: #fff;
	font: 16px '微软雅黑', sans-serif;
}
.footer, .footer a{
	color: #fff;
}
.footer {
	line-height: 80px;
	text-align: center;
	font-family: '微软雅黑';	
}
.footer a:hover{
	color: #8F8F8F;
}
